body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

/* section 1 */
button {
    background-color: #3882F6;
    border-radius: 12px;
    border-color: #3882F6;
    color: white;
    padding: 6px 36px;  
    font-weight: bolder;  
    width: fit-content;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

ul{
    display: flex;
    flex-direction: row;
    color: #F9FAF8;
    gap: 24px;
}

.section.one {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    padding: 64px;
    justify-content: center;
    gap: 72px;
    padding: 60px;
}

.hardd {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.white-font{
    color: white;
}

.hero-main-text {
    font-weight: 900;
    font-size: 48px;
}

.hero-secondary {
    font-size: 18px;
    color:#E5E7EB;
    width: 510px;
}

ul {
    list-style-type: none;
}

/* section 2 */
.section.two {
    text-align: center;
    padding: 60px;
}

.small-image{
    width: 175px;
    height: 175px;
    border: 2px solid rgb(13, 129, 236);  
    border-radius: 20px;  
}

.images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 36px;
    margin-top: 48px;
}

.subtext-image {
    width: 175px;
}

/*section 3 */

.quote {
    width: 900px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.section.three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    padding: 60px ;
}

.thor {
    margin-left: auto;
    margin-right: 500px;
    margin-top: -48px;
}

/* section 4 (lets goo) */
.section.four {
    padding: 60px;
    background-color: #3882F6;
    width: 1000px;
    align-self: center;
    border-radius: 24px;
    margin: 64px;
    display: flex;
    justify-content: space-around;
}

.button{
    align-self: center;
}

/* footer */
footer{
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
}

.header-links{
    font-size: 18px;
    color: #E5E7EB;
}

a{
    color: #E5E7EB;
    text-decoration: none;
}